html, body {
    height: 98%;
    padding: 0;
    font-family: "Belleza", sans-serif;
    background-color: #eee;
    color: #222;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.template {
    display: none;
}



/* map top left */
#map {
    width: 75%;
    float: left;
    margin-right: 6px;
}

#map, #info {
    height: 66%;
}

.eventMarker {
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
}



/* tabs top right */
#info {
    width: 24%;
    margin-bottom: 6px;
    overflow: hidden;
}

#infotabs {
    min-width: 100%;
    border-collapse: separate;
    border-spacing: 2px 0;
}

.tab {
    background-color: #e0e0e0;
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabbox {
    display: none;
    background-color: #e0e0e0;
    overflow-y: auto;
    height: 90%;
    max-height: 90%;
    min-height: 90%;
    margin-left: 2px;
    margin-right: 2px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.nexteventtable {
    width: 100%;
}

.nextevent {
    cursor: pointer;
    font-weight: bold;
    width: 1em;
    transform: scaleY(2);
}

#configinfo {
    display: inherit;
}

#configinfotab {
    border-bottom: 0;
}

.tabheader {
    font-weight: bold;
}

.tabheader, .tabitem, span, .item, .biotabevent {
    cursor: pointer;
}
.tabheader:hover, .tabitem:hover, .item:hover, .biotabevent:hover {
  text-decoration: underline;
}
.biotabevent {
    font-weight: bold;
    padding-left: 10px;
}

.selectBase {
    position: relative;
    left: 0;
}

.selectContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10000;
}

#locationContainer {
    bottom: -2em;
}

#originContainer {
    bottom: -3em;
}

.grey {
    cursor: text;
    color: LightGrey;
}

.rows, .rows tr, .rows td, .rows svg {
    margin: 0;
    padding: 0;
}

.rows {
    max-width: 98%;
}

.rowControl, .rowData {
    border: solid 1px black;
    margin: 0;
    padding: 0;
}

.rowControl {
    width: 25vw;
    max-width: 25vw;
    min-width: 25vw;
}

.rowData {
    max-width: 72%;
}

#timeSVG {
    margin: 0;
    padding: 0;
}

#timeSVG text {
    fill: black;
}

#timeShade {
    fill: blue;
    fill-opacity: 0.2;
}

#timeBorder {
    stroke: black;
    stroke-width: 1;
}

.acronymRow {
    overflow-x: scroll;
    max-width: 73vw;
    padding-bottom: 10px;
}

.filterOptions {
    text-align: center;
    user-select: none;
}

.tiny {
    font-size: x-small;
}

.pattern {
    color: grey;
    width: 90%;
    max-width: 90%;
}

.selectPattern {
    color: grey;
}

.label {
    color: grey;
}




.scrollable {
    width: 98vw;
    padding-bottom: 10px;
    overflow-x: scroll;
}


.acronymCell, .sandboxTitle, .sandboxCell {
    vertical-align: top;
    border: 1px solid;
    padding-left: 4px;
    padding-right: 4px;
}

.acronymCell, .sandboxCell {
    text-align: center;
}

.acronymCell {
    cursor: pointer;
}

.sandboxControl {
    width: 6em;
}

.sandboxName {
    text-align: left;
}

.sandboxRow {
    background-color: #eee;
}

.sandboxRow:nth-child(even) {
    background-color: #ccc;
}

.rowControl, .sandboxTitle {
    position: sticky;
    left: 1px;
    z-offset: 2000;
    background-color: inherit;
    border: 2px solid black;
}

.acronymControlBackground {
    background-color: #eee;
}
